
body {
    font-size: 16px;
    background-color: #333;
}
main {
    width: 90%;
    margin: auto;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navbar {
    min-width: 275px;
    padding: 10px;
    background-color: #ee5253;
}
.ctn-select { 
    width: 200px;
}
li {
    font-size: 1.2rem;
    list-style: none;
    text-align: center;
    color: #fff;
}
li:hover{
    background: #a74e4e;
    color: #fff;
}
#dex {
    margin-top: 50px;
}
.card {
    width: 288px;
}
.imgSpt{
    width: 50%;
}
.bigPicture {
    height: 600px;
    width: 600px;
}
span {
    font-weight: 700;
    color: #333;
}
#evoluciones .card {
    border: none;
    width: 150px;
}
#evoluciones img {
    width: 100px;
}

p-3 {
    padding: 3rem;
}
a{
    text-decoration: none;
    font-size: 1.25rem;
    color: rgb(161, 42, 42);
}